  <!-- Main Content Section -->

  <div class="row">

    <div class="large-8 columns" style="text-align: center;">
      <h2>
        <%= @ad.name %>
      </h2>
      <div id="ad-image">
        <a href="<%= @ad.url %>" target="_blank">
          <img src="<%= @ad.image_url %>" />
        </a>
      </div>

      <p>
        <div id="countdown"></div>
        <div id='internet-connect-link' style="display:none">
          <a href="<%= internet_connect_path %>">Connect to the Internet!</a>
        </div>
      </p>

    </div>

    <div class="large-4 columns">
    </div>
  </div>

  <script>
    var timer = 10;
    var timerMessage = setInterval(function(){
      $("#countdown").html("You will be connected to the internet in " + timer + " seconds");
      if (timer >= 0) {
        timer--;
      }
    },1000)

    var pageForward = setTimeout(function(){
      clearInterval(timerMessage);

      $("#countdown").hide();
      $("#internet-connect-link").show();
    },10000)
  </script>
